{% extends 'main.html' %}

{% block content %}

<div class="container">
    <div class="layout">
      <div class="column column--1of3">
        <div class="card text-center">
          {% if not isCoach %}
          <div class="card__body dev">
            <a class="btn btn--sub btn--md" href="{% url 'create-daily-evaluations'%}"><i class="im im-edit"></i>Нова тренировка</a>
          </div>
          {% endif %}
          {% if isCoach%}
            <div class="hero-section__search">
                <form id="searchForm" class="form" action="" method="get">
                <div class="form__field">
                    <label for="formInput#search">Търси играч</label>
                    <input class="input input--text" id="formInput#search" type="text" name="search_query" value="{{search_query}}"
                    placeholder="Търси играч по име" />
                </div>
    
                <input class="btn btn--sub btn--md" type="submit" value="Търси" />
                </form>
            </div>
            {% endif %}  

        </div>
      </div>
      <div class="column column--2of3">
        <h3>Тренировки</h3>
        <table class="settings__table">
            {% for evaluation in evaluations %}                                   
            <tr>
            <td class="settings__tableInfo">    
                <p> 
                {{evaluation}}
                </p>  
            </td>
            {% if not isCoach %}
            <td class="settings__tableActions">
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'edit-daily-evaluations' evaluation.id %}"><i class="im im-edit"></i>Редакция</a>
            </td>
            {% endif %}
            <td class="settings__tableActions">
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'view-daily-evaluations' evaluation.id %}"><i class="im im-edit"></i>Преглед</a>
            </td>
            </tr>
            {% endfor %}             
        </table>
        {% include 'pagination.html' with queryset=evaluations custom_range=custom_range %}
      </div>    
    </div>  
</div>



{% endblock content %}