{% extends 'main.html' %}
{% load static %}

{% block content %}
  
    <div class="auth">
        <div class="card">
          <div class="auth__header text-center">
            <a href="/">
              <img src="{% static 'images/logo.jpg' %}" alt="icon" />
            </a>
            <h3>Смяна на парола</h3>
          </div>
  
          <form method="POST" class="form auth__form">
            {% csrf_token %}


              <div class="form__field">
                  <label for="formInput#text">Стара парола: </label>
                  {{form.old_password}}
              </div>     
              <div class="form__field">
                <label for="formInput#text">Нова парола: </label>
                {{form.new_password1}}
              </div>    
              <div class="form__field">
                <label for="formInput#text">Повтори парола: </label>
                {{form.new_password2}}
              </div>              

            <input class="btn btn--sub btn--lg  my-md" type="submit" value="Запиши" />
          </form>
         
        </div>
      </div>

{% endblock content %}