{% extends 'main.html' %}

{% block content %}
<main class="home">
    <section class="devlist">
      <div class="container">
        <div class="grid grid--three">
        {% for presentation in presentations %}
          <div class="column card">
            <div class="dev">
              <a href="{% url 'user-presentation' presentation.id %}" class="card__body">
                <div class="dev__profile">
                  <img class="avatar avatar--lg" src="{{presentation.player.profile_image.url}}" alt="image" />
                  <div class="dev__meta">
                    <h3>{{presentation.player.name}}</h3>
                    <h5>{{presentation.player.intro}}</h5>
                  </div>
                </div>
                
              </a>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </section>


  </main>
{% endblock content %}