{% extends 'main.html' %}

{% block content %}


<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h3>Изпратен имейл за смяна на парола</h3>

            <p>Изпратихме ви имейл с инструкции за смяна на парола. Ако имейл адресът е на валиден потребител, ще получите съобщението скоро.</p>
            <br>
            <p>Ако не получите имейл, моля проверете имейл адреса си.</p>
        </div>
    </div>
</main>

{% endblock content %}